<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Profile.genders.keys %>
  </div>

  <div class="field">
    <%= form.label :profile_type %>
    <%= form.select :profile_type, Profile.profile_types.keys %>
  </div>

  <div class="field">
    <%= form.label :year_id %>
    <%= form.collection_select :year_id, Year.all, :id, :year %>
  </div>

  <div class="field">
    <%= form.label :month_id %>
    <%= form.collection_select :month_id, Month.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :disease_id %>
    <%= form.collection_select :disease_id, Disease.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :age_id %>
    <%= form.collection_select :age_id, Age.all, :id, :range %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
